<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.harvard.android.mmskeeper"
    android:versionCode="2"
    android:versionName="1.01" >
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_data_on"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="MMSKeeperWidget" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="edu.harvard.android.mmskeeper.CLICK" />
                </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_info" />
        </receiver>
        <activity android:name="MMSKeeper" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
